body {
  
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
header {
    height: 50px;
}

article {
    background: #ffffff;
    height: 500px;
}

footer {
    background: white;
}

#logo {
    height: 100%;
}

.menu {
    height: 100%;
}

    .menu * {
        height: 50px;
        background: gray;
        border-left: 2px solid black;
    }

        .menu *:hover {
            opacity: 0.8;
            transform: scale(1.01);
            box-shadow: 0 0 2px 4px black;
            cursor: pointer;
        }

.user {
    background: grey;
}

.block {
    display: inline-block;
    background: #ffffff;
    width: 350px;
    height: 260px;
    margin: 2%;
    padding: 2%;
    border: 1px solid black;
}

.b_header {
    height: 30px;
}

.b_content {
    height: 150px;
}

.graph {
    display: inline-block;
    background: lightgreen;
    margin-top: 10px;
    width: 600px;
    height: 300px;
}

.box {
    display: inline-block;
    background: darkseagreen;
    width: 250px;
    height: 200px;
    margin: 10px 10px 0 10px;
}
.align-center form {
    width: 37%;
    margin-left: auto;
    margin-right: auto;
}
 #login {
    margin-top: 10px;
    margin-bottom: 10px;
     width: 100%;
}
   #password {
        margin-top: 10px;
        margin-bottom: 10px;
       width: 100%;
    }

.align-center .btn-block {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#align-right {
    text-align: right;
    margin-bottom: 10px;
    margin-top: 5px;
}