<div class="row">
    <div class="blog-sidebar col-xs-3">Чат телеграмма</div>
    <div class="col-xs-4">
        <h2>Обратная связь</h2>
        <form id="productForm" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label">Тип обращения</label>
                <div class="col-xs-5 selectContainer">
                    <select class="form-control" name="size">
                        <option value="">Выберите</option>
                        <option value="s">Жалоба</option>
                        <option value="m">Предложение</option>
                        <option value="l">----</option>
                        <option value="xl">----</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Тема</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control" name="name" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Текст обращения</label>
                <div class="col-xs-8">
                    <textarea name="description" class="form-control" rows="5"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-5 col-xs-offset-3">
                    <button type="submit" class="btn btn-default">Отправить</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-4">
        <h2>Голосования</h2>
        Список голосований
        <div class="form-group">
            <button type="submit" class="btn btn-default">Создать новое</button>
        </div>
    </div>

</div>
