@{

}
<div class="row">
    @if (ViewBag.Status == false)
    {
             <div class="align-center">
            <h2>Добро пожаловать</h2>
            @Html.ActionLink( "В личный кабинет", "Index", "User", null, new { @class = "btn btn-primary" })
            </div>
    }
    else
    {
        <div class="">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new {@class = "login-form"}))

            {
                <style>
                    .auth {
                        text-align: center;
                    }
                    .auth * {
                        margin: 0 auto;
                    }
                    .btn-block {
                        width: 35%;
                    }
                </style>

                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-lg-1"></div>
                    <div class="col-xs-10 col-sm-10 col-lg-10 auth">
   
                        <h2>Войти</h2>
                        <label for="login" class="sr-only">Имя пользователя</label>
                        <input type="text" id="login" name="login" class="form-control" placeholder="Имя пользователя" required="" autofocus="">
                        <label for="password" class="sr-only">Пароль</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required="">
                        <div class="row">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    

</div>

