@{

}
<div class="row">
    @if (ViewBag.Status == false)
    {
             <div class="align-center">
            <h2>Добро пожаловать</h2>
            @Html.ActionLink( "В личный кабинет", "Index", "User", null, new { @class = "btn btn-primary" })
            </div>
    }
    else
    {
        <div class="align-center">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new {@class = "login-form"}))

            {


                <h2>Sign in</h2>
                <label for="login" class="sr-only">Email address</label>
                <input type="text" id="login" name="login" class="form-control" placeholder="Login" required="" autofocus="">
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                <div class="row">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </div>
            }
        </div>
    }
    

</div>

