
<div class="jumbotron">
    <h1>График</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-xs-4 col-lg-4 col-md-4">Задолженности</div>
    <div class="col-xs-4 col-lg-4 col-md-4">Управление графиком</div>
</div>