<div class="row">
    <div class="col-lg-4">
        <h2>Электроэнергия</h2>
        <p>Стоимость 1 квт составляет n руб. <br>
            Ваша задолженность составляет x руб.
        </p>
        <p><a class="btn btn-primary" href="detail.html" role="button">Подробнее &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Электроэнергия</h2>
        <p>Стоимость 1 квт составляет n руб. <br>
            Ваша задолженность составляет x руб.
        </p>
        <p><a class="btn btn-primary" href="detail.html" role="button">Подробнее &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Электроэнергия</h2>
        <p>Стоимость 1 квт составляет n руб. <br>
            Ваша задолженность составляет x руб.
        </p>
        <p><a class="btn btn-primary" href="detail.html" role="button">Подробнее &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Электроэнергия</h2>
        <p>Стоимость 1 квт составляет n руб. <br>
            Ваша задолженность составляет x руб.
        </p>
        <p><a class="btn btn-primary" href="detail.html" role="button">Подробнее &raquo;</a></p>
    </div>
</div>